body {
  text-align: center;
}

.counter-box {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

button {
  font-size: 2rem;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(129, 194, 250);
}

.counter-box h3,
.step-box h3 {
  font-size: 2.3rem;
  color: greenyellow;
}

.counter-box h2,
.step-box h2 {
  font-size: 2.3rem;
}

.step-box {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.step-box .btns,
.counter-box .btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
